html {
  box-sizing: border-box;
}
body {
  background-color: rgb(10, 0, 42);
  overflow: hidden;
  background-image: url('./images/world.svg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  color: rgb(236, 205, 205);
}

.wrapper {
  text-align: center;
  width: 700px;

  margin-left: auto;
  margin-right: auto;
}

.console {
  font-size: 20px;
}

.search-list {
  list-style-type: none;
  color: rgb(218, 185, 0);
}

.container {
  display: flex;
  justify-content: center;
  margin: auto, auto;
  color: rgb(236, 205, 205);
}

.box-content {
  padding: 0;
  min-width: 350px;
  text-align: left;
}

.title {
  color: rgb(218, 185, 0);
  font-weight: bold;
}

.box-img {
  height: 200px;
  width: 350px;
  text-align: center;
}

img {
  height: 100%;
}
